#scoreboard * {
  margin: 0;
  padding: 0;
}

#scoreboard body {
  display: relative;
  height: 60vh;
  display: relative;
  font-family: sans-serif;
  background-color: #273746;
}
#scoreboard form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  flex-direction: column;
}
#scoreboard .formbox {
  font-family: "Merriweather", serif;
  font-size: 20px;
  position: relative;
  width: 25%;
  padding: 10px;
}
#scoreboard .formbox input {
  width: 100%;
  border: none;
  border-bottom: 1px solid whitesmoke;
  background-color: #273746;
  color: whitesmoke;
}
#scoreboard .formbox label {
  color: whitesmoke;
}

#scoreboard ul {
  position: absolute;
  width: 450px;
  top: 42%;
  left: 31%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #abb2b9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#scoreboard ul li {
  font-family: "Merriweather", serif;
  list-style: none;
  padding: 5px;
  width: 100%;
}
#scoreboard button {
  font-family: "Merriweather", serif;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 4px 2px;
  padding: 10px 22px;
  text-align: center;
  font-size: 18px;
}
#scoreboard #btn {
  position: absolute;
  top: 22.5%;
  left: 43.7%;
  background-color: crimson;
}
#scoreboard h1 {
  font-family: "Merriweather", serif;
  position: absolute;
  font-size: 18px;
  top: 35%;
  left: 31%;
  width: 450px;
  background-color: #eaecee;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  background-origin: padding-box;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
