body {
  background-color: #273746;
  font-family: "Merriweather", serif;
}
button {
  font-family: "Merriweather", serif;
  margin: 5px;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 200;
  color: white;
  cursor: pointer;
}

#btn-start button {
  width: 100px;
  border: none;
  margin: 10px 0px;
  padding: 10px 0px;
  border-radius: 5px;
  background-color: green;
  color: white;
  font-size: 1em;
  margin-left: 100px;
}

#colorChangeTest button,
#outputField button {
  border-radius: 20px;
  border: none;
  display: inline-block;
  padding: 20px;
  margin: 5px;
  color: black;
}

.rightPosition {
  background-color: red;
  border: none;
}

.rightColor {
  background-color: white;
  border: none;
}

.wrong {
  background-color: black;
  border: none;
}

#colorChangeTest ul,
#outputField ul {
  background-color: #273746;
  margin-right: 50%;
}

#outputField ul {
  margin-bottom: -20px;
}

#btn-getstats,
#statsWebPage {
  position: absolute;
  top: 3%;
  left: 40%;
  width: 100px;
  border: none;
  margin: 10px 0px;
  padding: 10px 0px;
  border-radius: 5px;
  background-color: #0061c4;
  color: white;
  font-size: 1em;
  margin-left: 100px;
}

#btn-hidestats button {
  position: absolute;
  top: 3%;
  left: 40%;
  width: 100px;
  border: none;
  margin: 10px 0px;
  padding: 10px 0px;
  border-radius: 5px;
  background-color: crimson;
  color: white;
  font-size: 1em;
  margin-left: 100px;
}

#statsMenu {
  position: absolute;
  top: 10%;
  left: 43%;
  font-family: "Merriweather", serif;
  background-color: #eaecee;
  font-size: 16px;
  margin: 15px 0px 15px 15px;
  padding: 15px 0px;
  /* margin-left: 45%;
  margin-right: 38%;
  margin-top: 0%; */
  text-align: center;
  border-radius: 5px;
}

#scoreboard * {
  margin: 0;
  padding: 0;
}

#scoreboard body {
  display: relative;
  height: 60vh;
  display: relative;
  font-family: sans-serif;
  background-color: #273746;
}

#scoreboard ul {
  position: absolute;
  width: 450px;
  top: 8%;
  right: 0%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #abb2b9;
  border-bottom-left-radius: 10px;
}
#scoreboard ul li {
  font-family: "Merriweather", serif;
  list-style: none;
  padding: 5px;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

#scoreboard h1 {
  font-family: "Merriweather", serif;
  position: absolute;
  font-size: 20px;
  top: 0%;
  right: 0%;
  width: 450px;
  background-color: #eaecee;
  padding: 15px;
  text-align: center;
  box-sizing: border-box;
  background-origin: padding-box;
  border-top-left-radius: 10px;
}
