<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Mastermind Game</title>
</head>
<body>
    <div id='colorChangeTest'>
        <ul id='colorButtonField'>

        </ul>
    </div>
    <div id="btn-start">
        <button type="button">Start</button>
    </div>

</body>
    <footer>
        <button id="btn-getstats">Get Stats</button>
        <a href="statspage.html"><button id="statsWebPage">Get Stats (webpage)</button></a>

        <div id="statsMenu">

        </div>
        
        <div id="btn-hidestats"></div>
    </footer>
    <script src= "colours.js" >
    </script>
    <!-- <script src="test/apptest.js"></script> -->
</html>
