<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap" rel="stylesheet">
    <title>Mastermind Game</title>
</head>
<body>
    <div id='outputField'></div>
    <div id='colorChangeTest'>
        <ul id='colorButtonField'>

        </ul>
    </div>
    <div id="btn-start">
        <button type="button">Start</button>
    </div>

</body>
    <footer>
        <button id="btn-getstats">Get Stats</button>

        <div id="statsMenu">

        </div>
        
        <div id="btn-hidestats"></div>
        <div id="scoreboard">
            
          <div>
              <h1>Score Board</h1>
              <ul id="total"></ul>
          <div>
        </div>
    </footer>
    <script src= "colours.js" >
        
        
    </script>
    <script>
        colorTestField.addEventListener('click', (e) => {
    if (e.target.className == 'button'){
    buttonToChange = e.target.id
    colorShift(buttonToChange)
    
    }
})


startBtn.addEventListener('click', () => {
    confirmButton = initializeDifficultySelect()
    confirmButton.addEventListener('click', () => {
        getPlayerName()
        getNumberOfButtons()
    })
    startBtn.innerHTML = ''
})

getStatsBtn.addEventListener('click', () => {
    showStats(winRate, avgDifficulty, avgGuess)
    })


    </script>
</html>
